<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="developer.prasanth.spiritualtablets">

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- <uses-permission-sdk-23 android:name="android.permission.RECORD_AUDIO" /> -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/full_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/full_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".FullScreenImageActivity"/>
        <activity android:name=".ViewEventActivity" />
        <activity android:name=".RequestForCounsellingListActivity" />
        <activity android:name=".RequestForCounsellingActivity" />
        <activity android:name=".RapidRegistrationListActivity" />
        <activity
            android:name=".RapidRegistrationActivity"
            android:label="@string/title_activity_rapid_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".VolunteersListActivity" />
        <activity android:name=".AdminPanelActivity" />
        <activity android:name=".KannadaBookListActivity" />
        <activity android:name=".HindiBookListActivity" />
        <activity android:name=".AddEventActivity" />
        <activity android:name=".VideoPlayerActivity" />
        <activity android:name=".VideoListActivity" />
        <activity android:name=".EventsByLanguageActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".VolunteerRegistrationActivity" />
        <activity android:name=".DailyQuoteActivity" />
        <activity android:name=".contact_us.PrimaryCentersActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".about_us.FounderActivity" />
        <activity android:name=".OutletsActivity" />
        <activity android:name=".about_us.PyramidDoctorsActivity" />
        <activity android:name=".about_us.PrincipleActivity" />
        <activity android:name=".about_us.HistoryActivity" />
        <activity android:name=".about_us.IntroductionActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".NewsLettersActivity" />
        <activity android:name=".AudioPlayerActivity" />
        <activity android:name=".AudioActivity" />
        <activity android:name=".ViewBookActivity" />
        <activity android:name=".EnglishBookListActivity" />
        <activity android:name=".TeluguBookListActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".NoInternetActivity" />
        <activity android:name=".DashBoardActivity" />
        <activity android:name=".LoggedInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>